*{
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.container{
    text-align: center;
    display: flex;
    height: 10em;
}


header,nav,aside,section,footer{
    background-color: rgb(127, 127, 224);
    margin: 5px;
}

